<footer >
  <div class="container-flex-footer">
    <ul>
      <li ><%= fa_icon "twitter"%></li>
      <li ><%= fa_icon "facebook-official"%></li>
      <li ><%= fa_icon "instagram"%></li>
      <li ><%= fa_icon "youtube-play"%></li>
      <li ><%= fa_icon "vimeo"%></li>
      <li ><%= fa_icon "amazon"%></li>
      <li ><%= fa_icon "apple"%></li>
      <li ><%= fa_icon "soundcloud"%></li>
      <li ><%= fa_icon "spotify"%></li>
    </ul>
  </div>
  <div class="container-flex-footer-by"><p>OBSIDIAN MUSIC THEME BY AUDIOTHEME.</p></div>
</footer>
