<header>
  <div class="container-flex-header">
    <nav>
      <ul>
        <li>
          <%= link_to"HOME",root_path%>
        </li>
        <% if user_signed_in?%>
        <li><%=link_to"LOG OUT",destroy_user_session_path ,method: :delete%></li>
        <li><%= link_to"EDIT",edit_user_registration_path%></li>
        <%end%>
        <li>
          <a href="#contact">BIO
          </a>
        </li>
        <li>
          <a href="#">PHOTOS</a>
        </li>
        <li>
          <a href="#">MUSIC</a>
        </li>
        <li>
          <a href="#videos">VIDEOS</a>
      </li>
      <li>
        <%= link_to"NEWS",articles_path	%></a>
    </li>
    <li>
      <a href="#tour">TOUR</a>
    </li>
    <li>
      <%= link_to"SIGN",new_user_session_path%>
    </li>
    <li>
    </li>
  </ul>
</nav>
</div>
</header>
